footer(class="footer")
   div(class="footer-block")
      span Copyright &COPY; 2016 by Irfan Maulana
   div(class="footer-block" style="text-align:right;")
      a(href="https://github.com/mazipan/nodejs-mongodb-simple-library-application" class="footer-social")
         span(class="fa fa-github fa-2x")
      a(href="https://mazipanneh.wordpress.com" class="footer-social")
         span(class="fa fa-wordpress fa-2x")
      a(href="https://id.linkedin.com/in/irfanmaulanamazipan" class="footer-social")
         span(class="fa fa-linkedin-square fa-2x")
      a(href="https://facebook.com/mazipanneh" class="footer-social")
         span(class="fa fa-facebook-square fa-2x")
      a(href="https://twitter.com/Maz_Ipan" class="footer-social")
         span(class="fa fa-twitter-square fa-2x")
      a(href="mailto:mazipanneh@gmail.com" class="footer-social")
         span(class="fa fa-envelope fa-2x")