table(class="striped" ng-show="tabHomePageActive === 'user'")
   thead
      th No
      th Username
      th Real Name
      th Email
      th Action
   tbody
      tr(ng-repeat="user in users track by $index")
         td {{$index}}
         td {{user.username}}
         td {{user.trueName}}
         td {{user.email}}
         td Action
