div(class="row" ng-show="currentPageView === 'homepage'")
   div(class="col s12")
      ul(class="tabs")
         li(class="tab col s3" ng-click="changeTabActive('book')")
            a(href="#book" ng-class="{'active': tabHomePageActive === 'book'}") Book List
         li(class="tab col s3" ng-click="changeTabActive('transaction')")
            a(href="#transaction" ng-class="{'active': tabHomePageActive === 'transaction'}") My Transaction List
         li(class="tab col s3" ng-click="changeTabActive('user')")
            a(href="#user" ng-class="{'active': tabHomePageActive === 'user'}") User List

