extends layout

block content
  div(class="row" ng-app="irfan.libraryApplication" ng-controller="library.ctrl")
    include header-block.jade
    include login-block.jade
    include homepage-block.jade
    include grid-user-block.jade
  include footer-block.jade

block javascript
  script(src = "/javascripts/app/application/LibraryApp.js")
  script(src = "/javascripts/app/controllers/library-controller.js")
  script(src = "/javascripts/app/services/library-service.js")
  script(src = "/javascripts/app/directives/library-directive.js")
  script(src = "/javascripts/app/filters/library-filter.js")