doctype html
html(lang="id")
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/library/normalize.css')
    link(rel='stylesheet', href='/stylesheets/library/materialize.css')
    link(rel='stylesheet', href='/stylesheets/library/sweet-alert.css')
    link(rel='stylesheet', href='/stylesheets/library/font-awesome.min.css')

    block css
  body
    block content

    script(src = "/javascripts/library/jquery-1.11.0.min.js")
    script(src = "/javascripts/library/angular.min.js")
    script(src = "/javascripts/library/angular-resource.min.js")
    script(src = "/javascripts/library/angular-sanitize.min.js")
    script(src = "/javascripts/library/sweet-alert.js")
    script(src = "/javascripts/library/md5.js")
    script(src = "/javascripts/library/materialize.js")
    script(src = "/javascripts/library/jquery.cookie.js")

    script const ROOT_URL = "http://localhost:3000";

    block javascript

