div(class="padding top-of-particle" ng-show="currentPageView === 'book-form'")
   form
         div(class="input-field")
            input(type="text" id="bookTitle" ng-model="bookTitle" required autofocus)
            label(for="bookTitle") Book Title
         div(class="input-field")
            input(type="text" id="bookAuthor" ng-model="bookAuthor")
            label(for="bookAuthor") Book Author
         select(class="browser-default" id="bookCategory" ng-model="bookCategory" ng-options="")
            label(for="bookCategory") Book Category
         div(class="input-field")
            input(type="date" id="YearPublished" ng-model="YearPublished")
            label(for="YearPublished") Year Published
         button(type="submit" class="btn waves-effect waves-light blue marginright") Save
         button(class="btn waves-effect waves-light blue" ng-click="changeCurrentPageView('homepage')") Cancel


